/*#talk_cloud {
  width: auto;
  border: 1px solid blue;
  background-color: white;
  padding: 9px;
  -moz-border-radius-topright: 30px;
  -webkit-border-top-right-radius: 30px;
  border-top-right-radius: 30px;
  -moz-border-radius-bottomleft: 30px;
  -webkit-border-bottom-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border: 3px inset #ffa5a5;
}*/
#talk_cloud {
  position: relative;
  width: auto;
  padding: 20px 15px;
  margin: 1em auto 15px;
  text-align: center;
  color: #fff;
  background: #ffa5a5;
  /* css3 */
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#2e88c4), to(#ffa5a5));
  background: -moz-linear-gradient(#2e88c4, #ffa5a5);
  background: -o-linear-gradient(#2e88c4, #ffa5a5);
  background: linear-gradient(#2e88c4, #ffa5a5);
  /*
  NOTES:
  -webkit-border-radius:220px 120px; // produces oval in safari 4 and chrome 4
  -webkit-border-radius:220px / 120px; // produces oval in chrome 4 (again!) but not supported in safari 4
  Not correct application of the current spec, therefore, using longhand to avoid future problems with webkit corrects this
  */
  -webkit-border-top-left-radius: 220px 120px;
  -webkit-border-top-right-radius: 220px 120px;
  -webkit-border-bottom-right-radius: 220px 120px;
  -webkit-border-bottom-left-radius: 220px 120px;
  -moz-border-radius: 220px / 120px;
  border-radius: 220px / 120px;
}

.talk_cloud p {
  font-size: 1.25em;
}

/* creates the larger circle */
#talk_cloud:before {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50px;
  width: 18px;
  height: 20px;
  background: #ffa5a5;
  /* css3 */
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}

/* creates the smaller circle */
#talk_cloud:after {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 30px;
  width: 15px;
  height: 15px;
  background: #ffa5a5;
  /* css3 */
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
.anim_char {
  margin-left: -44px;
  display: none;
}

.anim_char.anim_char_static {
  display: block;
}

#edit-drubot-submit {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  width: auto;
}

#edit-drubot-submit:hover {
  background-color: #f4511e;
  color: white;
}

input#edit-drubot-submit {
  display: none;
}
